@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 50px;
}

.Nav {
  display: grid;
  width: 900px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  font-size: 25px;
  /* padding: 50px; */
}

#gloo {
  display: grid;
  width: 1000px;
  grid-template-columns: 1fr;
  padding: 25px;
  font-size: 20px;
}

label {
  display: grid;
  width: 600px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  font-size: 24px;
  padding: 0px;
}
input {
  display: grid;
  width: 200px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  font-size: 24px;
  padding: 0px;
}

.wax {
  font-family: "Caveat", cursive;
  width: 70px;
  height: 40px;
  font-size: 18px;
  border: 3px solid black;
  background: #fff;
  color: black;
  border-radius: 40px;
  cursor: pointer;
}
