@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

.App {
  font-family: "Caveat", cursive;
  background-image: url(https://i.pinimg.com/originals/ba/16/ca/ba16ca4ac8a4c257e2e622ea346887b1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 125vh;
}
/* googled how to do borders on letters thats carries all the way down to other classes and id */
#head {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  font-size: 60px;
}
/* used soleil's example she gave us to figure howw to implement it into my nav, items, add items */
.Nav {
  display: grid;
  width: 900px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 45px;
  width: fit-content;
  text-align: center;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

a {
  color: black !important;
  text-decoration: none;
}
/* a:visited {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
} */

#gloo {
  display: grid;
  width: 900px;
  margin: 50px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  font-size: 30px;
  width: fit-content;
  text-align: center;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#gloo a:link {
  text-decoration: none;
}

/* done */
.pepperoni {
  display: grid;
  width: 500px;
  max-width: 20vw;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto;
  grid-gap: 10px;
  font-size: 30px;
  text-align: center;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
/* done  googled button designs and coded off from there to get the bbutton how i wanted*/
.wax {
  font-family: "Caveat", cursive;
  width: 70px;
  height: 40px;
  font-size: 18px;
  border: 3px solid black;
  background: #fff;
  color: black;
  border-radius: 40px;
  cursor: pointer;
}

.pizza {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-size: 30px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.wax2 {
  display: center;
  font-family: "Caveat", cursive;
  width: 70px;
  height: 40px;
  font-size: 18px;
  border: 3px solid black;
  background: #fff;
  color: black;
  border-radius: 40px;
  cursor: pointer;
  margin: 0 auto;
}
/* done */
p {
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* used soleil's example she gave us and tried to make it work */
@media screen and (max-width: 700px) {
  .Nav {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #gloo {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .App {
    background-position: center;
    min-height: 100;
    text-align: center;
  }
  .Nav {
    grid-template-columns: 1fr;
  }
  #gloo {
    grid-template-columns: 1fr;
  }
}
